* {
	margin: 0px;
	padding: 0px;
}


#body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	background-color: black; 
}


.contenido {
	width: 25%;
	margin: auto auto;
	margin-bottom: 50px;
	}

.textodeindex {
	font-family: "Montserrat", sans-serif;
	font-weight: 800;
	color: whitesmoke;
	margin-left: 30px;
	margin-bottom: 30px;
	margin-top: 40px;
}


/**   -------------------------      HEADER    ---------------------------------     **/

#header {
	margin: 50px 0px;
	margin-bottom: 100px;
	background-color: black;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

#header .botonera {
	flex-grow: 1;
}

#header ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;

}

#Menu {
	background-color: black;
}

#Menu ul {

	font-family: 'Montserrat', sans-serif; 
	font-weight: 800;
	font-size: 25px;
	text-align: center;
	line-height: 50px;
	list-style-position: outside;
	text-transform: uppercase;
	list-style: none;
	margin: 0px;
	padding: 0px;
}
  
#Menu ul li {
	display: inline-block;
}
#Menu li a:hover {
	color: white;
	transition: all .3s;
}
#Menu ul li a {
	color: white;
	display: block;
	text-decoration: none;
	padding: 20px 90px;
}

.submenu{
	position: absolute;
	background: black;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
	
}

.submenu li a{
	display: block;
	padding: 15px;
	color: #fff;
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
	justify-content:left;

}
 

/**  --------------------------------------   */


/**  POR SI QUIERO USAR FLEXBOX
.productos {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin-top: 50px;
	margin-bottom: 100px;
	align-items: center;

}
**/


/** ------------------------ GRIDS DE LOS PRODUCTOS ---------------- */

/** BUZOS */

.productos{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr 150px 45px 80px;
	width: 100%;
	margin-top: 50px;
	grid-template-areas:
	"foto1 foto2 foto3"
	"textotitulo1 textotitulo2 textotitulo3"
	"texto1 texto2 texto3"
	"comprar1 comprar2 comprar3";
	grid-rows-gap: 50px;
	justify-content: center;
}

.comprar {
	grid-area: comprar1;
	justify-self: center;
	align-self: start;
}

.comprar2 {
	grid-area: comprar2;
	justify-self: center;
	align-self: start;
}
.comprar3 {
	grid-area: comprar3;
	justify-self: center;
	align-self: start;
}

.PrimerFoto {
	grid-area: foto1;
	justify-self: center;
}
.SegundaFoto {
	grid-area: foto2;
	justify-self: center;
}
.TerceraFoto {
	grid-area: foto3;
	justify-self: center;
}

.textotitulo1 {
	grid-area: textotitulo1;
	color: whitesmoke;
	justify-self: center;
	align-self: center;
	margin-bottom: 20px;
}
.textotitulo2 {
	grid-area: textotitulo2;
	color: whitesmoke;
	justify-self: center;
	align-self: center;
	margin-bottom: 20px;
}
.textotitulo3 {
	grid-area: textotitulo3;
	color: whitesmoke;
	justify-self: center;
	align-self: center;
	margin-bottom: 20px;
}

.textodefoto1 {
	grid-area: texto1;
	color: whitesmoke;
	justify-self: center;
	align-self: start;
	margin-bottom: 20px;
}
.textodefoto2 {
	grid-area: texto2;
	color: whitesmoke;
	justify-self: center;
	align-self: start;
	margin-bottom: 20px;
}
.textodefoto3 {
	grid-area: texto3;
	color: whitesmoke;
	justify-self: center;
	align-self: start;
	margin-bottom: 20px;
}


.productos2{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr 150px 45px 80px;
	width: 100%;
	margin-top: 50px;
	grid-template-areas:
	"foto4 foto5 foto6"
	"textotitulo4 textotitulo5 textotitulo6"
	"texto4 texto5 texto6"
	"comprar4 comprar5 comprar6";
	grid-rows-gap: 50px;
	justify-content: center;
}

.comprar4 {
	grid-area: comprar4;
	justify-self: center;
	align-self: start;
}
.comprar5 {
	grid-area: comprar5;
	justify-self: center;
	align-self: start;
}
.comprar6 {
	grid-area: comprar6;
	justify-self: center;
	align-self: start;
}
.CuartaFoto {
	grid-area: foto4;
	justify-self: center;
}
.QuintaFoto {
	grid-area: foto5;
	justify-self: center;
}
.SextaFoto {
	grid-area: foto6;
	justify-self: center;
}

.textotitulo4 {
	grid-area: textotitulo4;
	color: whitesmoke;
	justify-self: center;
	align-self: center;
	margin-bottom: 20px;
}
.textotitulo5 {
	grid-area: textotitulo5;
	color: whitesmoke;
	justify-self: center;
	align-self: center;
	margin-bottom: 20px;
}
.textotitulo6 {
	grid-area: textotitulo6;
	color: whitesmoke;
	justify-self: center;
	align-self: center;
	margin-bottom: 20px;
}

.textodefoto4 {
	grid-area: texto4;
	color: whitesmoke;
	justify-self: center;
	align-self: start;
	margin-bottom: 20px;
}
.textodefoto5 {
	grid-area: texto5;
	color: whitesmoke;
	justify-self: center;
	align-self: start;
	margin-bottom: 20px;
}
.textodefoto6 {
	grid-area: texto6;
	color: whitesmoke;
	justify-self: center;
	align-self: start;
	margin-bottom: 20px;
}

.ProductoTransform:hover {
	transform: scale(1.05);

}



 /**    REMERAS    **/

.productos3{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr 150px 45px 80px;
	width: 100%;
	margin-top: 50px;
	grid-template-areas:
	"fotoR1 fotoR2 fotoR3"
	"textotituloR1 textotituloR2 textotituloR3"
	"textoR1 textoR2 textoR3"
	"comprarR1 comprarR2 comprarR3";
	grid-rows-gap: 50px;
	justify-content: center;
}

.comprarR1 {
	grid-area: comprarR1;
	justify-self: center;
	align-self: start;
}

.comprarR2 {
	grid-area: comprarR2;
	justify-self: center;
	align-self: start;
}

.comprarR3 {
	grid-area: comprarR3;
	justify-self: center;
	align-self: start;
}

.Foto1 {
	grid-area: fotoR1;
	justify-self: center;
}
.Foto2 {
	grid-area: fotoR2;
	justify-self: center;
}
.Foto3 {
	grid-area: fotoR3;
	justify-self: center;
}

.textotituloR1 {
	grid-area: textotituloR1;
	color: whitesmoke;
	justify-self: center;
	align-self: center;
	margin-bottom: 20px;
}
.textotituloR2 {
	grid-area: textotituloR2;
	color: whitesmoke;
	justify-self: center;
	align-self: center;
	margin-bottom: 20px;
}
.textotituloR3 {
	grid-area: textotituloR3;
	color: whitesmoke;
	justify-self: center;
	align-self: center;
	margin-bottom: 20px;
}

.textodefotoR1 {
	grid-area: textoR1;
	color: whitesmoke;
	justify-self: center;
	align-self: start;
	margin-bottom: 20px;
}
.textodefotoR2 {
	grid-area: textoR2;
	color: whitesmoke;
	justify-self: center;
	align-self: start;
	margin-bottom: 20px;
}
.textodefotoR3 {
	grid-area: textoR3;
	color: whitesmoke;
	justify-self: center;
	align-self: start;
	margin-bottom: 20px;
}



.productos4{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr 150px 45px 80px;
	width: 100%;
	margin-top: 50px;
	grid-template-areas:
	"fotoR4 fotoR5 fotoR6"
	"textotituloR4 textotituloR5 textotituloR6"
	"textoR4 textoR5 textoR6"
	"comprarR4 comprarR5 comprarR6";
	grid-rows-gap: 50px;
	justify-content: center;
}
.Foto4 {
	grid-area: fotoR4;
	justify-self: center;
}
.Foto5 {
	grid-area: fotoR5;
	justify-self: center;
}
.Foto6 {
	grid-area: fotoR6;
	justify-self: center;
}

.textotituloR4 {
	grid-area: textotituloR4;
	color: whitesmoke;
	justify-self: center;
	align-self: center;
	margin-bottom: 20px;
}
.textotituloR5 {
	grid-area: textotituloR5;
	color: whitesmoke;
	justify-self: center;
	align-self: center;
	margin-bottom: 20px;
}
.textotituloR6 {
	grid-area: textotituloR6;
	color: whitesmoke;
	justify-self: center;
	align-self: center;
	margin-bottom: 20px;
}

.textodefotoR4 {
	grid-area: textoR4;
	color: whitesmoke;
	justify-self: center;
	align-self: start;
	margin-bottom: 20px;
}
.textodefotoR5 {
	grid-area: textoR5;
	color: whitesmoke;
	justify-self: center;
	align-self: start;
	margin-bottom: 20px;
}
.textodefotoR6 {
	grid-area: textoR6;
	color: whitesmoke;
	justify-self: center;
	align-self: start;
	margin-bottom: 20px;
}

.comprarR4 {
	grid-area: comprarR4;
	justify-self: center;
	align-self: start;
}

.comprarR5 {
	grid-area: comprarR5;
	justify-self: center;
	align-self: start;
}

.comprarR6 {
	grid-area: comprarR6;
	justify-self: center;
	align-items: start;
}

/**     ---------------------------------------------------------------    */

/**  --------------------        CONTENIDO     ------------------------ */

.logo {
	margin-left: 20px ;
}

#nosotro{
	margin-bottom: 40px;
	margin-top: 1px;
}

.texto{
	color: #B4A5A5;
}

.espaciodenosotros {
	margin: 50px 10px;
}
.mapa {
	margin-bottom: 100px;
	margin-left: 30px;
}
.sucursales {
	display: inline-block;
}
.busqueda {
	margin-left: 1700px;
}


.ver {
	display: flex;
	flex-direction: row-reverse;
	margin-right: 90px;
	margin-bottom: 30px;
	color: white;
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	opacity: 80%;
	text-decoration: none;
	transition: 0.5s;
}

.ver:hover {
	color: white;
	font-size: 110%;
	text-decoration: none;
}
.titulo {
	font-weight: 800;
	color: whitesmoke;
	margin-left: 30px;
	
}
.tituloderemeras {
	font-weight: 800;
	color: whitesmoke;
	margin-left: 30px;
	margin-bottom: 30px;
}

.espacioderedes {
	margin-right: 30px;
}

.newsletter {
	margin-top: 100px;
	margin-bottom: 300px;
	position: fixed;
}

/** --------------------------------------------------------------------- */






/** ---------------------         FOOTER           -------------------  */
#footer {
	width: 100%;
	height: 200px;
	background-image: linear-gradient(to bottom, #000000, #3d1626, #761d4c, #b3217b, #f025b2);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}

.textodefooter {
	
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	font-size: 12px;
	margin: auto;
	margin-top: 50px;
}
.redes {
	margin: auto;
	display: flex;
	flex-direction: space-around;
}
/** ------------------------------------------------------ */


/** ---------------      NOSOTROS.HTML        ------------------ */

.botoncito{
  border-radius: 5px;
  padding: 10px 7px;
  text-decoration: none;
  color: #fff;
  background-color: #333;
  margin: 5px;
}


.contact_form{  
  width: 460px; 
  height: auto;
  margin: 80px auto;
  border-radius: 10px;  
  padding-top: 30px;
  padding-bottom: 20px;  
  background-color: #fbfbfb; 
  padding-left: 30px; 
}


.formularioNosotros input{
  background-color: #fbfbfb; 
  width: 408px; 
  height: 40px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #ab4493; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
}


.formularioNosotros textarea{
  background-color: #fbfbfb; 
  width: 405px; 
  height: 150px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #ab4493; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
  padding-top: 15px; 
}


.formularioNosotros label{
  display: block; 
  float: center;  
}


.formularioNosotros button{
  height: 45px; 
  padding-left: 5px;
  padding-right: 5px;   
  margin-bottom: 20px; 
  margin-top: 10px;   
  text-transform: uppercase;
  background-color: #ab4493; 
  border-color: #ab4493; 
  border-style: solid; 
  border-radius: 10px;  
  width: 420px;   
  cursor: pointer;
}


.formularioNosotros button p{
  color: #fff; 
}


.formularioNosotros span{
  color: #ab4493; 
}


.formularioNosotros .aviso{
  font-size: 13px;  
  color: #0e0e0e;  
}


.formularioNosotros h1{
  font-size: 39px;  
  text-align: letf; 
  padding-bottom: 20px; 
  color: #ab4493;
}


.formularioNosotros h3{
  font-size: 16px; 
  padding-bottom: 30px;
  color: #0e0e0e;   
}


.formularioNosotros p{
  font-size: 14px; 
  color: #0e0e0e; 
}


::-webkit-input-placeholder {
 color: #a8a8a8;
}


::-webkit-textarea-placeholder {
 color: #a8a8a8;
}


.formularioNosotros .formulario input:focus{
  outline:0;
  border: 1px solid #97d848;
}


.formularioNosotros .formulario textarea:focus{
  outline:0;
  border: 1px solid #97d848;
}


@media (max-width: 576px) {
	.textodeindex {
		margin-bottom: 30px;
		font-size: 30px;
		}
	.contenido {
		margin-bottom: 120px;
		width: 90%;
	}

	}

@media (max-width: 768px) {
	.textodeindex {
		margin-bottom: 40px;

	}
	.contenido {
		margin-bottom: 120px;
		width: 90%;
	}
}

@media (max-width: 992px) {
	.textodeindex {
		margin-bottom: 40px;
	}
	.contenido {
		margin-bottom: 120px;
		width: 90%;
	}
	
}

@media (max-width: 1200px) {
	.textodeindex {
		margin-bottom: 40px;
	}
	.contenido {
		margin-bottom: 150px;
		width: 90%;
	}
}